In [20]:
import pandas as pd
import plotly as plt

### STEP 1 -> Generate Data ###

#create dataframe
df = pd.DataFrame({'error_ct': [506, 120, 86, 34, 20, 18, 15, 11, 10, 9]})

df.index = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

#sort dataframe by count descending
df = df.sort_values(by='error_ct', ascending=False)

#create cumulative percentage column

df['cumulative_percent'] = df['error_ct'].cumsum() / df['error_ct'].sum() * 100
df

   error_ct  cumulative_percent
A       506           61.037394
B       120           75.512666
C        86           85.886610
D        34           89.987937
E        20           92.400483
F        18           94.571773
G        15           96.381182
H        11           97.708082
I        10           98.914355
J         9          100.000000

In [27]:
# create rank column
df['error_rank'] = df['error_ct'].rank(method='max')

df

   error_ct  cumulative_percent  error_rank
A       506           61.037394        10.0
B       120           75.512666         9.0
C        86           85.886610         8.0
D        34           89.987937         7.0
E        20           92.400483         6.0
F        18           94.571773         5.0
G        15           96.381182         4.0
H        11           97.708082         3.0
I        10           98.914355         2.0
J         9          100.000000         1.0